.acceuiladmin .box{
    background-color: var(--bg-admin);
    color: #fff;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px #fff; */
}

.box h1{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.box span{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
}

.box:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
}