/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg-Body: rgb(59,74,97);
    --sidebar: rgb(59,74,97);
    --bg-admin: rgb(19,43,78);
  }
.app{
    width: 100%;
}
.icons>*{
    font-size: 1.5rem;
    cursor: pointer;
}
.icons>*:hover{
    color: #28cb8b;
    transform: scale(1.2);
    transition: all ease-in-out 0.1s;
}

* {
  
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(59, 74, 97);
  color: white;
  animation: fadeInLeft 2s;
}

body::-webkit-scrollbar{
  display: none;
}


.navbar {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color:  rgb(19, 43, 78);
  color: rgb(255, 255, 255);
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}

.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}


.navbar .right i {
  cursor: pointer;
  transition: 0.5s ease;
}

.navbar .right i:hover {
  background-color: #fff;
  border-radius: 50%;
  color: rgb(19, 43, 78);
  padding: 10px;
}

#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  /* height: 100vh; */
  border-right: 1px solid black;
}

#sidebar h2 {
  margin-top: 100px; 
  text-align: center;
  font-weight: 500;
  font-size: 28px;
}

#sidebar hr {
  margin-top: 10px;
}

#sidebar ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

#sidebar ul li {
  width: 100%;
  background-color: rgb(19, 43, 78);
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(125, 136, 152);
  transition: 0.5s ease;
}

#sidebar ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

#sidebar ul li:hover {
  background-color: rgb(41, 73, 120);
}

#sidebar ul li a {
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.main {
  grid-area: main;
  /* margin-left: 150px;  */
  margin-top: 60px;    
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-height: calc(100vh - 60px); */
}


.main .main-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.main .head1 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.main .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.carts {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 30px;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(93, 94, 95);
  cursor: pointer;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#form .form {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  z-index: 2;
}

#form .form input {
  width: 100%;
  border: 1px solid #fff;
  /* background-color: #ccc; */
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}


#form .form i {
  position: absolute;
  margin: 0px 10px;
  right: 0;
  font-size: 20px;
}

.carts-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}


.carts-user .head {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

.carts-user h3 {
  margin-bottom: 15px;
}

.carts-user .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.carts-user .image img{
  width: 80%;
  border-radius: 10px;
}

.carts-user .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 20px;
}

.incription-form button{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-admin);
    color: #fff;
    cursor: pointer;
}
.sidebar {
  transition: all 0.8s ease-in-out;
}

.menu{
  display: none;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .sidebar,#sidebar {
    display: none;
    width: 100%;
  }

  .sidebar ul  {
    font-size: 20px;
  }
  .navbarAmin{
    font-size: 18px;
  }

  .navbarAmin .icons{
   display: none;
  }

  .menu{  
    display: block;
    cursor: pointer;
  }

  .active{
    display: block;
  }

  #sidebar.active{
    display: block;
  }

  .allTaskAdmin{
    padding: 5px;
    width: 100%;
  }

  .addprogram{
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .addprogram input, .addprogram button,.addinput{
    width: 100%;
  }

  .main{
    position: static;
  }

  .navbar .right{
    display: none;
  }
}